.comments{
    right: 50px;
}
.article1{
    background-color:rgb(233, 233, 134);
}
h1{
    text-align: center;
    font-size: 22pt;
    text-decoration: underline;
    background-color: rgb(240, 240, 240);
    color:rgb(164, 164, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    color:rgb(164, 164, 0);
    text-align: left;
    text-decoration: underline;
    font-size: 18pt;
    background-color: rgb(240, 240, 240);
}
h3{
    color:rgb(164, 164, 0);
    text-align: left;
    text-decoration: underline;
    font-size: 18pt;
    background-color: rgb(240, 240, 240);
}
h4{
    color:rgb(164, 164, 0);
    text-align: left;
    text-decoration: underline;
    font-size: 18pt;
    background-color: rgb(240, 240, 240);
}
h5{
    color:rgb(164, 164, 0);
    text-align: left;
    text-decoration: underline;
    font-size: 18pt;
    background-color: rgb(240, 240, 240);
}
a{
    color:limegreen;
    
}
.validator{
    text-align: right;
}